* {
    margin: 0;
    padding: 0;
    margin-inline: 20;
    overflow-x: hidden;
}
.App {
    background-color: #370062;
    height: 100vh;
    position: fixed;
}

.navbar {
    @media (min-width: 0px) {
        &__desktop {
            display: none;
        }

        &__mobile {
            width: 100vw;
            position: fixed;
            // background-color: black;
            .navbar__menu {
                display: flex;
                justify-content: space-between;
                padding-inline: 20px;
                padding-top: 10px;
                align-items: center;
                .navbar__button {
                    .navbar__toggle {
                        background-color: transparent;
                        box-shadow: none;
                        border: transparent;
                        .navbar__hamburger {
                            width: 30px;
                        }
                    }
                }
            }

            .navbar__wrap {
                background-color: rgba(white, 0.5);
                padding: 20px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                flex-direction: column;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    @media (min-width: 720px) {
        &__mobile {
            display: none;
        }

        &__desktop {
            // background-color: black;
            width: 100vw;
            display: block;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            // padding-inline: 40px;

            .navbar__wrap {
                padding-inline: 30px;
                display: flex;
                li {
                    a {
                        font-size: 30px;
                        text-decoration: none;
                        color: white;
                    }
                    margin-right: 20px;
                }
            }
        }
    }
}
.hero {
    // padding-top: 82px;
    &__text {
        background-color: transparent;
    }
    .container {
        height: 100vh;
        width: 100vw;
        background-image: url("text3d.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        // background-position-y: 4vh;
        color: white;
        background-size: 38rem;
    }

    @media (min-width: 768px) {
        // padding-top: 54px;
        .container {
            background-size: 100vh;
            // background-position-y: -10vh;
        }
    }
}
.section {
    // padding-top: -10vh;
    // background-color: red;

    padding-inline: 20px;

    @media (min-width: 0px) {
    }

    @media (min-width: 720px) {
        ul {
            // height: 60vh;
            display: flex;
            overflow: hidden;

            li {
                height: 40vh;
                position: relative;
                margin: 8px;
                margin-inline: 9px;
                background-color: gray;
                p {
                    align-content: start;
                }
            }
        }
    }
}
